.bg-img-name{
    margin-top:100px;
    // margin-left :300px;
    margin-bottom: 300px;
    color:white;
    text-align: center;;
}

.img-container-sea{
    position:absolute;
    z-index: -1;
    opacity:0.8;
    
   

    .img_style2{
        width:1600px;
        height: 400px;
    }
}